html {
    background: url(background.webp) center;
    background-size: cover;
    height: 100vh;
    display: grid;
    place-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #323232;
    border: none;
}

input:focus {
    outline: none;
    border-color: #08558b;
}

a {
    font-size: .8rem;
}

a:hover{
    color: #08558b;
}

/* login-container */
#login-container {
    background-color: #fff;
    width: 25rem;
    padding: 1.25rem;
    border-radius: .625rem;
    text-align: center;

}

/* formulario */
form {
    margin: 2.5rem 0;
    
}

label {
    font-weight: bold;
    font-size: .8rem;
}

label, input {
    display: block;
    text-align: left;
    width: 100%;

}

input {
    border-bottom: 2px solid #323232;
    padding: .625rem;
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

#forgot-pass {
    text-align: right;
    display: block;
}

input[value="Login"] {
    background-color: #08548b57;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 1.25rem;
    margin: 1.875rem auto 0;
    cursor: pointer;
    width: 40%;
    transition: all 1.5s;
    color: #fff;

}

input[value="Login"]:hover {
    background-color: #08558b;
    width: 80%;
}

/* social-container */
#social-container, #social-container p {
    margin-bottom: 1.25rem;
}

#social-container i {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5rem;

}

.fa-facebook-f {
    background-color:#1f7bf2;
}

.fa-linkedin {
    background-color: #086b9c;
}

#register-container p{
    margin-bottom: .6rem;
}

